/*
 New Project - v0.1.0
 @description An example module to illustrate the usage of a package.json
 --------------------
 @author Webdirection <info@webdirection.by>
 @link http://webdirection.by
 */
 *, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 14px; }

.clearfix:before, .clearfix:after, .container:before, .container:after, .row:before, .row:after, .container-primary:before, .container-primary:after {
  display: table;
  content: '';
  clear: both; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible; }

textarea {
  overflow: auto; }

a {
  color: #337cb7;
  text-decoration: none; }

a:hover, a:focus {
  color: #23547c;
  text-decoration: underline; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

.img-circle {
  border-radius: 50%; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

p {
  margin: 0 0 10px; }

.d_n {
  display: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase; }

/* mixed: mobile and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important; }
  .visible-desktop {
    display: none !important; }
  .visible-tablet {
    display: inherit !important; }
  .hidden-tablet {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important; }
  .visible-desktop {
    display: none !important; }
  .visible-phone {
    display: inherit !important; }
  .hidden-phone {
    display: none !important; } }

/* grid */
.container, .container-primary {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.container-primary {
  width: 1200px; }

@media (max-width: 1200px) {
  .container-primary {
    width: 100%; } }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

/* phones (<768px) */
.col-ph-12, .col-ph-11, .col-ph-10, .col-ph-9, .col-ph-8, .col-ph-7, .col-ph-6, .col-ph-5, .col-ph-4, .col-ph-3, .col-ph-2, .col-ph-1 {
  float: left; }

.col-ph-1 {
  width: 8.33333%; }

.col-ph-2 {
  width: 16.66667%; }

.col-ph-3 {
  width: 25%; }

.col-ph-4 {
  width: 33.33333%; }

.col-ph-5 {
  width: 41.66667%; }

.col-ph-6 {
  width: 50%; }

.col-ph-7 {
  width: 58.33333%; }

.col-ph-8 {
  width: 66.66667%; }

.col-ph-9 {
  width: 75%; }

.col-ph-10 {
  width: 83.33333%; }

.col-ph-11 {
  width: 91.66667%; }

.col-ph-12 {
  width: 100%; }

.col-ph-pull-1 {
  right: 8.33333%; }

.col-ph-pull-2 {
  right: 16.66667%; }

.col-ph-pull-3 {
  right: 25%; }

.col-ph-pull-4 {
  right: 33.33333%; }

.col-ph-pull-5 {
  right: 41.66667%; }

.col-ph-pull-6 {
  right: 50%; }

.col-ph-pull-7 {
  right: 58.33333%; }

.col-ph-pull-8 {
  right: 66.66667%; }

.col-ph-pull-9 {
  right: 75%; }

.col-ph-pull-10 {
  right: 83.33333%; }

.col-ph-pull-11 {
  right: 91.66667%; }

.col-ph-pull-12 {
  right: 100%; }

.col-ph-push-1 {
  left: 8.33333%; }

.col-ph-push-2 {
  left: 16.66667%; }

.col-ph-push-3 {
  left: 25%; }

.col-ph-push-4 {
  left: 33.33333%; }

.col-ph-push-5 {
  left: 41.66667%; }

.col-ph-push-6 {
  left: 50%; }

.col-ph-push-7 {
  left: 58.33333%; }

.col-ph-push-8 {
  left: 66.66667%; }

.col-ph-push-9 {
  left: 75%; }

.col-ph-push-10 {
  left: 83.33333%; }

.col-ph-push-11 {
  left: 91.66667%; }

.col-ph-push-12 {
  left: 100%; }

.col-ph-offset-1 {
  margin-left: 8.33333%; }

.col-ph-offset-2 {
  margin-left: 16.66667%; }

.col-ph-offset-3 {
  margin-left: 25%; }

.col-ph-offset-4 {
  margin-left: 33.33333%; }

.col-ph-offset-5 {
  margin-left: 41.66667%; }

.col-ph-offset-6 {
  margin-left: 50%; }

.col-ph-offset-7 {
  margin-left: 58.33333%; }

.col-ph-offset-8 {
  margin-left: 66.66667%; }

.col-ph-offset-9 {
  margin-left: 75%; }

.col-ph-offset-10 {
  margin-left: 83.33333%; }

.col-ph-offset-11 {
  margin-left: 91.66667%; }

.col-ph-offset-12 {
  margin-left: 100%; }

/* tablets (≥768px) */
@media (min-width: 768px) {
  .col-tb-12, .col-tb-11, .col-tb-10, .col-tb-9, .col-tb-8, .col-tb-7, .col-tb-6, .col-tb-5, .col-tb-4, .col-tb-3, .col-tb-2, .col-tb-1 {
    float: left; }
  .col-tb-1 {
    width: 8.33333%; }
  .col-tb-2 {
    width: 16.66667%; }
  .col-tb-3 {
    width: 25%; }
  .col-tb-4 {
    width: 33.33333%; }
  .col-tb-5 {
    width: 41.66667%; }
  .col-tb-6 {
    width: 50%; }
  .col-tb-7 {
    width: 58.33333%; }
  .col-tb-8 {
    width: 66.66667%; }
  .col-tb-9 {
    width: 75%; }
  .col-tb-10 {
    width: 83.33333%; }
  .col-tb-11 {
    width: 91.66667%; }
  .col-tb-12 {
    width: 100%; }
  .col-tb-pull-1 {
    right: 8.33333%; }
  .col-tb-pull-2 {
    right: 16.66667%; }
  .col-tb-pull-3 {
    right: 25%; }
  .col-tb-pull-4 {
    right: 33.33333%; }
  .col-tb-pull-5 {
    right: 41.66667%; }
  .col-tb-pull-6 {
    right: 50%; }
  .col-tb-pull-7 {
    right: 58.33333%; }
  .col-tb-pull-8 {
    right: 66.66667%; }
  .col-tb-pull-9 {
    right: 75%; }
  .col-tb-pull-10 {
    right: 83.33333%; }
  .col-tb-pull-11 {
    right: 91.66667%; }
  .col-tb-pull-12 {
    right: 100%; }
  .col-tb-push-1 {
    left: 8.33333%; }
  .col-tb-push-2 {
    left: 16.66667%; }
  .col-tb-push-3 {
    left: 25%; }
  .col-tb-push-4 {
    left: 33.33333%; }
  .col-tb-push-5 {
    left: 41.66667%; }
  .col-tb-push-6 {
    left: 50%; }
  .col-tb-push-7 {
    left: 58.33333%; }
  .col-tb-push-8 {
    left: 66.66667%; }
  .col-tb-push-9 {
    left: 75%; }
  .col-tb-push-10 {
    left: 83.33333%; }
  .col-tb-push-11 {
    left: 91.66667%; }
  .col-tb-push-12 {
    left: 100%; }
  .col-tb-offset-1 {
    margin-left: 8.33333%; }
  .col-tb-offset-2 {
    margin-left: 16.66667%; }
  .col-tb-offset-3 {
    margin-left: 25%; }
  .col-tb-offset-4 {
    margin-left: 33.33333%; }
  .col-tb-offset-5 {
    margin-left: 41.66667%; }
  .col-tb-offset-6 {
    margin-left: 50%; }
  .col-tb-offset-7 {
    margin-left: 58.33333%; }
  .col-tb-offset-8 {
    margin-left: 66.66667%; }
  .col-tb-offset-9 {
    margin-left: 75%; }
  .col-tb-offset-10 {
    margin-left: 83.33333%; }
  .col-tb-offset-11 {
    margin-left: 91.66667%; }
  .col-tb-offset-12 {
    margin-left: 100%; } }

/* desktops (≥992px) */
@media (min-width: 992px) {
  .col-dt-12, .col-dt-11, .col-dt-10, .col-dt-9, .col-dt-8, .col-dt-7, .col-dt-6, .col-dt-5, .col-dt-4, .col-dt-3, .col-dt-2, .col-dt-1 {
    float: left; }
  .col-dt-1 {
    width: 8.33333%; }
  .col-dt-2 {
    width: 16.66667%; }
  .col-dt-3 {
    width: 25%; }
  .col-dt-4 {
    width: 33.33333%; }
  .col-dt-5 {
    width: 41.66667%; }
  .col-dt-6 {
    width: 50%; }
  .col-dt-7 {
    width: 58.33333%; }
  .col-dt-8 {
    width: 66.66667%; }
  .col-dt-9 {
    width: 75%; }
  .col-dt-10 {
    width: 83.33333%; }
  .col-dt-11 {
    width: 91.66667%; }
  .col-dt-12 {
    width: 100%; }
  .col-dt-pull-1 {
    right: 8.33333%; }
  .col-dt-pull-2 {
    right: 16.66667%; }
  .col-dt-pull-3 {
    right: 25%; }
  .col-dt-pull-4 {
    right: 33.33333%; }
  .col-dt-pull-5 {
    right: 41.66667%; }
  .col-dt-pull-6 {
    right: 50%; }
  .col-dt-pull-7 {
    right: 58.33333%; }
  .col-dt-pull-8 {
    right: 66.66667%; }
  .col-dt-pull-9 {
    right: 75%; }
  .col-dt-pull-10 {
    right: 83.33333%; }
  .col-dt-pull-11 {
    right: 91.66667%; }
  .col-dt-pull-12 {
    right: 100%; }
  .col-dt-push-1 {
    left: 8.33333%; }
  .col-dt-push-2 {
    left: 16.66667%; }
  .col-dt-push-3 {
    left: 25%; }
  .col-dt-push-4 {
    left: 33.33333%; }
  .col-dt-push-5 {
    left: 41.66667%; }
  .col-dt-push-6 {
    left: 50%; }
  .col-dt-push-7 {
    left: 58.33333%; }
  .col-dt-push-8 {
    left: 66.66667%; }
  .col-dt-push-9 {
    left: 75%; }
  .col-dt-push-10 {
    left: 83.33333%; }
  .col-dt-push-11 {
    left: 91.66667%; }
  .col-dt-push-12 {
    left: 100%; }
  .col-dt-offset-1 {
    margin-left: 8.33333%; }
  .col-dt-offset-2 {
    margin-left: 16.66667%; }
  .col-dt-offset-3 {
    margin-left: 25%; }
  .col-dt-offset-4 {
    margin-left: 33.33333%; }
  .col-dt-offset-5 {
    margin-left: 41.66667%; }
  .col-dt-offset-6 {
    margin-left: 50%; }
  .col-dt-offset-7 {
    margin-left: 58.33333%; }
  .col-dt-offset-8 {
    margin-left: 66.66667%; }
  .col-dt-offset-9 {
    margin-left: 75%; }
  .col-dt-offset-10 {
    margin-left: 83.33333%; }
  .col-dt-offset-11 {
    margin-left: 91.66667%; }
  .col-dt-offset-12 {
    margin-left: 100%; } }

/* larger desktops (≥1200px) */
@media (min-width: 1200px) {
  .col-ld-12, .col-ld-11, .col-ld-10, .col-ld-9, .col-ld-8, .col-ld-7, .col-ld-6, .col-ld-5, .col-ld-4, .col-ld-3, .col-ld-2, .col-ld-1 {
    float: left; }
  .col-ld-1 {
    width: 8.33333%; }
  .col-ld-2 {
    width: 16.66667%; }
  .col-ld-3 {
    width: 25%; }
  .col-ld-4 {
    width: 33.33333%; }
  .col-ld-5 {
    width: 41.66667%; }
  .col-ld-6 {
    width: 50%; }
  .col-ld-7 {
    width: 58.33333%; }
  .col-ld-8 {
    width: 66.66667%; }
  .col-ld-9 {
    width: 75%; }
  .col-ld-10 {
    width: 83.33333%; }
  .col-ld-11 {
    width: 91.66667%; }
  .col-ld-12 {
    width: 100%; }
  .col-ld-pull-1 {
    right: 8.33333%; }
  .col-ld-pull-2 {
    right: 16.66667%; }
  .col-ld-pull-3 {
    right: 25%; }
  .col-ld-pull-4 {
    right: 33.33333%; }
  .col-ld-pull-5 {
    right: 41.66667%; }
  .col-ld-pull-6 {
    right: 50%; }
  .col-ld-pull-7 {
    right: 58.33333%; }
  .col-ld-pull-8 {
    right: 66.66667%; }
  .col-ld-pull-9 {
    right: 75%; }
  .col-ld-pull-10 {
    right: 83.33333%; }
  .col-ld-pull-11 {
    right: 91.66667%; }
  .col-ld-pull-12 {
    right: 100%; }
  .col-ld-push-1 {
    left: 8.33333%; }
  .col-ld-push-2 {
    left: 16.66667%; }
  .col-ld-push-3 {
    left: 25%; }
  .col-ld-push-4 {
    left: 33.33333%; }
  .col-ld-push-5 {
    left: 41.66667%; }
  .col-ld-push-6 {
    left: 50%; }
  .col-ld-push-7 {
    left: 58.33333%; }
  .col-ld-push-8 {
    left: 66.66667%; }
  .col-ld-push-9 {
    left: 75%; }
  .col-ld-push-10 {
    left: 83.33333%; }
  .col-ld-push-11 {
    left: 91.66667%; }
  .col-ld-push-12 {
    left: 100%; }
  .col-ld-offset-1 {
    margin-left: 8.33333%; }
  .col-ld-offset-2 {
    margin-left: 16.66667%; }
  .col-ld-offset-3 {
    margin-left: 25%; }
  .col-ld-offset-4 {
    margin-left: 33.33333%; }
  .col-ld-offset-5 {
    margin-left: 41.66667%; }
  .col-ld-offset-6 {
    margin-left: 50%; }
  .col-ld-offset-7 {
    margin-left: 58.33333%; }
  .col-ld-offset-8 {
    margin-left: 66.66667%; }
  .col-ld-offset-9 {
    margin-left: 75%; }
  .col-ld-offset-10 {
    margin-left: 83.33333%; }
  .col-ld-offset-11 {
    margin-left: 91.66667%; }
  .col-ld-offset-12 {
    margin-left: 100%; } }
