/* mixed: mobile and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .hidden-desktop {display: inherit !important;}
    .visible-desktop {display: none !important ;}
    .visible-tablet {display: inherit !important;}
    .hidden-tablet {display: none !important;}
}

@media (max-width: 767px) {
    .hidden-desktop {display: inherit !important;}
    .visible-desktop {display: none !important;}
    .visible-phone {display: inherit !important;}
    .hidden-phone {display: none !important;}
}

/* grid */
.container,.container-fluid{
    padding-right: $container-padding;
    padding-left: $container-padding;
    margin-right: auto;
    margin-left: auto;
}
.container{width: $container-width;}

@media (max-width: $container-width){
    .container{ width: 100%;}
}


.row {
    margin-right: $row-margin;
    margin-left: $row-margin;
}

.col-ph-1, .col-tb-1, .col-dt-1, .col-ld-1, .col-ph-2, .col-tb-2, .col-dt-2, .col-ld-2,
.col-ph-3, .col-tb-3, .col-dt-3, .col-ld-3, .col-ph-4, .col-tb-4, .col-dt-4, .col-ld-4,
.col-ph-5, .col-tb-5, .col-dt-5, .col-ld-5, .col-ph-6, .col-tb-6, .col-dt-6, .col-ld-6,
.col-ph-7, .col-tb-7, .col-dt-7, .col-ld-7, .col-ph-8, .col-tb-8, .col-dt-8, .col-ld-8,
.col-ph-9, .col-tb-9, .col-dt-9, .col-ld-9, .col-ph-10, .col-tb-10, .col-dt-10, .col-ld-10,
.col-ph-11, .col-tb-11, .col-dt-11, .col-ld-11, .col-ph-12, .col-tb-12, .col-dt-12, .col-ld-12{
    position: relative;
    min-height: 1px;
    padding-right: $col-padding;
    padding-left: $col-padding;
}

/* phones (<768px) */
    @include create-grid-columns('ph');

/* tablets (≥768px) */
    @media (min-width: 768px) {
        @include create-grid-columns('tb');
    }

/* desktops (≥992px) */
    @media (min-width: 992px) {
        @include create-grid-columns('dt');
    }
/* larger desktops (≥1200px) */
    @media (min-width: 1200px) {
        @include create-grid-columns('ld');
    }